body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
}

#wrapper {
  width: 1515px;
  margin: auto;
}

h1 {
  color: rgb(30, 50, 116);
  font-size: 55px;
  font-weight: bolder;
  text-align: center;
}

h2 {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: lighter;
  padding-left: 100px;
  padding-top: 10px;
  padding-bottom: 15px;
  word-spacing: 10px;
  background-color: rgb(248, 227, 196);
  position: relative;
  bottom: 10px;
}

h2 > a {
  text-decoration: none;
  color: rgb(36, 36, 243);
  position: relative;
  left: 25px;
}

#enjoy {
  color: wheat;
  font-size: 80px;
  text-align: center;
  position: relative;
  bottom: 460px;
}

button {
  font-size: 25px;
  padding: 15px;
  background-color: white;
  border: 5px double black;
  position: relative;
  left: 900px;
  bottom: 500px;
}

#explore {
  color: purple;
  text-align: center;
  font-size: 35px;
  text-decoration-line: underline;
  text-decoration-style: double;
  font-family: cursive;
  position: relative;
  bottom: 300px;
}

#main_img {
  width: 1250px;
  position: relative;
  left: 140px;
  top: 15px;
}

#italy_img {
  width: 600px;
  border: 1em solid rgb(252, 222, 227);
  position: relative;
  left: 120px;
  bottom: 300px;
}

#italy {
  position: relative;
  left: 850px;
  bottom: 640px;
}

#italy_info {
  position: relative;
  left: 850px;
  bottom: 675px;
}

#india_img {
  width: 600px;
  border: 1em solid rgb(183, 213, 226);
  position: relative;
  left: 755px;
  bottom: 400px;
}

#india {
  position: relative;
  left: 120px;
  bottom: 720px;
}

#india_info {
  position: relative;
  left: 120px;
  bottom: 755px;
}

#japan_img {
  width: 600px;
  border: 1em solid rgb(252, 222, 227);
  position: relative;
  left: 120px;
  bottom: 500px;
}

#japan {
  position: relative;
  left: 850px;
  bottom: 850px;
}

#japan_info {
  position: relative;
  left: 850px;
  bottom: 885px;
}

#dessert_img {
  width: 600px;
  border: 1em solid rgb(183, 213, 226);
  position: relative;
  left: 755px;
  bottom: 575px;
}

#dessert {
  position: relative;
  left: 120px;
  bottom: 920px;
}

#dessert_info {
  position: relative;
  left: 120px;
  bottom: 955px;
}

h4 {
  color: rgb(71, 71, 231);
  font-size: 27px;
  font-weight: bolder;
  width: 250px;
}

p {
  font-size: 25px;
  width: 450px;
}

li {
  font-size: 50px;
  margin-left: 100px;
}
