@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #06283d;
  scroll-behavior: smooth;
  background-color: #06283d;
}

h1,
h2 {
  color: #e7f6f2;
}

.navbar {
  padding: 0;
  background-color: #e7f6f2 !important;
  height: 4rem;
}

.navbar-brand {
  padding-left: 50px;
}

.nav-item {
  padding-left: 50px;
}

.nav-link {
  font-size: 1.2em !important;
  color: rgb(18, 18, 44);
}

.about {
  padding-top: 2rem;
  padding-left: 3rem;
}

.about p {
  color: #e7f6f2;
}

.carousel {
  width: 70%;
  padding-top: 2rem;
  padding-left: 2rem;
}

.padding {
  padding-bottom: 2rem;
}

#aboutme {
  text-align: justify;
}

#GameProjects,
#WebProjects,
#CoastalProjects {
  padding: 0;
}

.card {
  background-color: #e7f6f2;
  border: none;
  background-position: center;
  background-size: cover;
  transition: all 0.2s ease-in-out !important;
  border-radius: 24px;
}

.card:hover {
  transform: translateY(-10px);
  transform: scale(1.05);
  box-shadow: none;
  opacity: 0.9;
}

.btn-primary {
  background-color: #467ea1;
  border: 1px solid #467ea1;
}

.btn-primary:hover {
  background-color: #563d7c;
  border: 1px solid #563d7c;
}

.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
}

.deck {
  width: 95%;
}

.scrolling-wrapper {
  overflow-x: auto;
}

div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

.social a {
  font-size: 2.5em;
  padding: 1rem;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-instagram {
  color: #8a3ab9;
}

.fa-youtube {
  color: #bb0000;
}

.fa-google {
  color: #4285f4;
}

.fa-linkedin {
  color: #0a66c2;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-youtube:hover,
.fa-google:hover,
.fa-linkedin:hover {
  color: #d5d5d5;
}

.clip {
  width: 60%;
  margin: 0 auto;
}

.clip iframe {
  width: 100%;
  margin: 0 auto;
}

footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 0.7rem;
}

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
}

footer a {
  color: #dfdfdf;
}

hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
}

/*---Media Queries --*/
@media (max-width: 992px) {
  .social a {
    font-size: 4em;
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .navbar-collapse {
    background-color: #e7f6f2;
  }

  .dropdown-menu {
    width: 70%;
    background-color: #51809d;
  }

  .carousel-caption {
    top: 45%;
  }

  .carousel-caption h1 {
    font-size: 300%;
  }

  .carousel-caption .btn {
    font-size: 95%;
    padding: 8px 14px;
  }

  .display-4 {
    font-size: 200%;
  }

  .social a {
    font-size: 2em;
    padding: 0.7rem;
  }
}
@media (max-width: 576px) {
  .carousel-caption {
    top: 40%;
  }

  .carousel-caption h1 {
    font-size: 200%;
  }

  .carousel-caption .btn {
    font-size: 90%;
    padding: 4px 8px;
  }

  .carousel-indicators {
    display: none;
  }

  .display-4 {
    font-size: 160%;
  }
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 !important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url("img/mac.png");
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
